@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
$font-family: 'Roboto',
sans-serif;

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0px;
    background-color: #F1F1F1;
    font-family: $font-family;
}
a,
a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;}

.container {
    // margin: auto;
    // max-width: 960px;
    padding: 0px 14px 0px 14px;
}


footer {
    background-color: #4E4E4E;
    padding: 10px 10px;
}

.copyright {
    color: white;
    font-size: 18px;
}

.fab {
    color: white;
    font-size: 30px;
}

.container_footer {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.social a {
    padding-left: 2px;
}

.social{
    padding-top:10px;
}
@media screen and (min-width: 768px){
    .container {
        margin: auto;
        max-width: 960px;
    }
    .container_footer {
        display: flex;
        flex-direction:unset;
        justify-content: space-between;
        align-items: center;

    }
.social{
    padding-top:0px;
}
.fa-instagram:hover{
    color:#ffffff;
    text-shadow: 0 0 15px #ffffff;
    transition: all 0.5s ease;
}
.fa-facebook-square:hover{
    color:#ffffff;
    text-shadow: 0 0 15px #ffffff;
    transition: all 0.5s ease;
}
}

