.container_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}


.menu a
 {
    padding-left: 45px;
    font-size: 18px;
    color: white;
}

.menu .not_allowed {
    cursor: not-allowed;
}

.container_nav .logo {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.nav {
    background-color: #4E4E4E;
    height: 50px;
}
.menu{
    display:none;
}

.container_nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.container_nav .menu-icon .navicon {
    background: rgb(255, 255, 255);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.container_nav .menu-icon .navicon:before,
.container_nav .menu-icon .navicon:after {
    background: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.container_nav .menu-icon .navicon:before {
    top: 5px;
}

.container_nav .menu-icon .navicon:after {
    top: -5px;
}


.container_nav .menu-btn {
    display: none;
}

.container_nav .menu-btn:checked~.menu {
    max-height: 240px;
}

.container_nav .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.container_nav .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.container_nav .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.container_nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.container_nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


@media screen and (min-width: 768px){

    .menu{
        display:block;
    }


    .container_nav .menu {
        clear: none;

    }

    .container_nav .menu-icon {
        display: none;
    }

}